#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: rgba(10, 10, 10, 0.47);
  border-radius: 10px;
  padding: 2em;
  box-shadow: 4px 4px 8px rgba(0.3, 0.3, 0, 0.3);
  color: white;
  
}

img {
  width: 300px;
  /* height: 10px; */
}

.center {
  display: flex;
  font-size: 22px;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
button{
  color: white;
}

